body{
    background-color: black;
    color: white;
}
.accordion-item{
    background-color: black;
    color: white;
    
}
.accordion{
    border: 2px solid white;
    width: 1000px;
    margin: 30px 120px;
    border-radius: 10px;
}

.accordion-button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
}
.accordion-body{
    border: 2px solid white;
}
